<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mam.dama">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.screen.portrait"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/llama"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashScreenActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait"
            android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.JoinHostActivity"
            android:theme="@style/Theme.AppCompat"
            android:screenOrientation="portrait"
            android:configChanges="orientation"/>
        <activity
            android:name=".activity.HostPlaylistPickerActivity"
            android:theme="@style/Theme.AppCompat"
            android:screenOrientation="portrait"
            android:configChanges="orientation"/>
        <activity
            android:name=".activity.JoinEventPickerActivity"
            android:theme="@style/Theme.AppCompat"
            android:screenOrientation="portrait"
            android:configChanges="orientation"/>
        <activity
            android:name=".activity.HubActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait"
            android:configChanges="orientation"/>
        <activity
            android:name=".activity.HostHubActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait"
            android:configChanges="orientation"/>
    </application>

</manifest>